<ion-header>
  <ion-toolbar color="primary">
    <ion-title>#Perfil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="content">
  <form [formGroup]="perfilForm" (ngSubmit)="onUpdate()" novalidate>
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nome*</ion-label>
        <ion-input type="text" formControlName="nome"></ion-input>
      </ion-item>
        <ion-item>
            <ion-label position="floating">Vai pegar(ou dar) carona pra aonde?</ion-label>
            <ionic-selectable
              item-content
              formControlName="destino"
              [items]="bairros"
              itemValueField="id"
              itemTextField="nome"
              [canSearch]="true"
              (onChange)="portChange($event)">
            </ionic-selectable>
          </ion-item>
      <ion-item>
          <ion-label position="floating">Que horas a gente se encontra?</ion-label>
          <ion-select formControlName="horarioOrigemSaida" okText="OK" cancelText="Cancelar">
            <ion-select-option value="1">18:00 ás 19:00</ion-select-option>
            <ion-select-option value="2">19:00 ás 20:00</ion-select-option>
            <ion-select-option value="3">20:00 ás 21:00</ion-select-option>
            <ion-select-option value="4">21:00 ás 22:00</ion-select-option>
            <ion-select-option value="5">22:00 ás 23:00</ion-select-option>
            <ion-select-option value="6">23:00 ás 00:00</ion-select-option>
          </ion-select>
        </ion-item>
      <ion-item>
        <ion-label position="floating">E-mail*</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Telefone*</ion-label>
        <ion-input type="text" name="telefone" formControlName="telefone" [brmasker]="{form: perfilForm.get('telefone'), phone: true}"></ion-input>
      </ion-item>
    </ion-list>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6">
          <ion-button button shape="round" expand="full" size="small" type="submit">Atualizar</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button button shape="round" expand="full" size="small" (click)="deletarperfil(false)" type="button">Deletar</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button button shape="round" expand="full" size="small" (click)="logout()" type="button">Sair</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>