<ion-content>

  <div class="cabecalho">
    <ion-img src="./assets/img/logo_login.png"></ion-img>
  </div>

  <div padding>
    <form [formGroup]="cadUserForm" (ngSubmit)="onSubmit()" novalidate>
      <ion-item>
        <ion-label position="floating">Vai pegar(ou dar) carona pra aonde?</ion-label>
        <ion-select formControlName="destino">
          <ion-select-option *ngFor="let bairro of bairros"  value="{{bairro.id}}">{{bairro.nome}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Que horas a gente se encontra?</ion-label>
        <ion-select formControlName="horarioOrigemSaida" okText="OK" cancelText="Cancelar">
          <ion-select-option value="1">18:00 ás 19:00</ion-select-option>
          <ion-select-option value="2">19:00 ás 20:00</ion-select-option>
          <ion-select-option value="3">20:00 ás 21:00</ion-select-option>
          <ion-select-option value="4">21:00 ás 22:00</ion-select-option>
          <ion-select-option value="5">22:00 ás 23:00</ion-select-option>
          <ion-select-option value="6">23:00 ás 00:00</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Chama as amigas no zap?</ion-label>
        <ion-input formControlName="numCelular" type="text"></ion-input>
      </ion-item>
      
      <!-- Meio de transporte -->
      <ion-item>
        <ion-label position="floating">Meio de transporte</ion-label>
        <ion-select formControlName="meioTransporte" okText="OK" cancelText="Cancelar">
          <ion-select-option value="1">Carro</ion-select-option>
          <ion-select-option value="2">Ônibus</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Ponto de encontro -->
      <ion-item>
        <ion-label position="floating">Ponto de encontro</ion-label>
        <ion-input formControlName="pontoEncontro" type="text"></ion-input>
      </ion-item>

      <ion-button expand="block" shape="round" color="primary" type="submit" [disabled]="cadUserForm.invalid" style="margin-top: 20px;">
        Pronto!
      </ion-button>
    </form>
  </div>

</ion-content>