<ion-content>

  <div class="cabecalho">
    <ion-img src="./assets/img/logo_login.png"></ion-img>
  </div>

  <div padding>
    <form [formGroup]="cadUserForm" (ngSubmit)="onSubmit()" novalidate>
      <ion-item>
        <ion-label position="floating">Vai pegar(ou dar) carona pra aonde?</ion-label>
        <ion-input formControlName="origem" type="text"></ion-input>
        <!-- placeholder="Digite seu destino" -->
      </ion-item>
      <ion-item>
        <ion-label position="floating">Que horas a gente se encontra?</ion-label>
        <!-- <ion-input formControlName="horarioOrigemSaida" type="text"></ion-input> -->
        <!-- placeholder="Selecione seu horário de saída de aula" -->
        <ion-select formControlName="origem" okText="OK" cancelText="Cancelar">
          <ion-select-option value="peperoni">18:00 ás 19:00</ion-select-option>
          <ion-select-option value="hawaii">19:00 ás 20:00</ion-select-option>
          <ion-select-option value="hawaii">20:00 ás 21:00</ion-select-option>
          <ion-select-option value="hawaii">21:00 ás 22:00</ion-select-option>
          <ion-select-option value="hawaii">22:00 ás 23:00</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Chama as amigas no zap?</ion-label>
        <ion-input formControlName="numCelular" type="text"></ion-input>
        <!-- placeholder="Digite o número do seu celular" -->
      </ion-item>
      <!-- <ion-item>
        <ion-label position="floating">Vai pegar(ou dar) carona pra aonde?</ion-label>
        <ion-input formControlName="destino" type="text"></ion-input> -->
        <!-- placeholder="Digite seu destino" -->
      <!-- </ion-item> -->
      <!-- <ion-item>
        <ion-label position="floating">Que horas a gente se encontra?</ion-label> -->
        <!-- <ion-input formControlName="horarioDestinoSaida" type="text"></ion-input> -->
        <!-- placeholder="Selecione seu horário de saída de aula" -->
        <!-- <ion-select formControlName="horarioDestinoSaida" okText="OK" cancelText="Cancelar">
          <ion-select-option value="peperoni">18:00 ás 19:00</ion-select-option>
          <ion-select-option value="hawaii">19:00 ás 20:00</ion-select-option>
          <ion-select-option value="hawaii">20:00 ás 21:00</ion-select-option>
          <ion-select-option value="hawaii">21:00 ás 22:00</ion-select-option>
          <ion-select-option value="hawaii">22:00 ás 23:00</ion-select-option>
        </ion-select> -->
      <!-- </ion-item> -->
      <ion-button expand="block" shape="round" color="primary" type="submit" [disabled]="cadUserForm.invalid" style="margin-top: 20px;">
        Pronto!
      </ion-button>
    </form>
  </div>

</ion-content>