<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      #Quem Somos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card-content>
    O #VemComigo é um projeto desenvolvido por mulheres para mulheres.
    Nasceu de uma necessidade real de um grupo de estudantes da Pós Graduação em Gerenciamento de Projetos pelo SENAC,
    já que o trajeto de retorno após as aulas não oferecia segurança e a conta do aplicativo de transporte já estava
    crescendo!
    Como resolver então? #Partiu achar uma amiga pra ajudar nessa rotina!
    Desde o seu início, o #VemComigo tem como missão ajudar o público feminino através da união das mulheres, porque
    juntas somos mais fortes e poderosas!
    Queremos que você se sinta segura durante o seu trajeto, economize uma graninha e que ainda encontre uma amiga para
    aproveitar esses benefícios com você.
  </ion-card-content>
  <ion-card>
    <ion-item style="padding-bottom: 5px; padding-top: 15px;">
      <ion-avatar slot="start">
        <img src="assets/img/card-image-avatar.png">
      </ion-avatar>
      <ion-label>Nayara Campos</ion-label>
    </ion-item>
    <ion-card-content>
      Nay para as #amigas, graduada em Engenharia de Controle e Automação pelo Instituto Federal de São Paulo,
      trabalhando com projetos de TI.
    </ion-card-content>
    <!-- <ion-item>
      <ion-icon name="logo-facebook" color="primary" slot="end"></ion-icon>
      <ion-icon name="logo-googleplus" color="danger" slot="end"></ion-icon>
    </ion-item> -->
  </ion-card>
  <ion-card>
    <ion-item style="padding-bottom: 5px; padding-top: 15px;">
      <ion-avatar slot="start">
        <img src="assets/img/card-image-avatar.png">
      </ion-avatar>
      <ion-label>Beatriz Leite</ion-label>
    </ion-item>
    <ion-card-content>
      Bia para as #amigas, graduada em Gestão Ambiental pela Universidade de São Paulo, trabalhando com gestão de
      projetos de impacto social.
    </ion-card-content>
    <!-- <ion-item>
      <ion-icon name="logo-facebook" color="primary" slot="end"></ion-icon>
      <ion-icon name="logo-googleplus" color="danger" slot="end"></ion-icon>
    </ion-item> -->
  </ion-card>
  <ion-card>
    <ion-item style="padding-bottom: 5px; padding-top: 15px;">
      <ion-avatar slot="start">
        <img src="assets/img/card-image-avatar.png">
      </ion-avatar>
      <ion-label>Daniela Garcia</ion-label>
    </ion-item>
    <ion-card-content>
      Dani para #amigas, graduada em Biotecnologia pela Universidade Federal de Alfenas, trabalhando em projetos de
      e-commerce.
    </ion-card-content>
    <!-- <ion-item>
      <ion-icon name="logo-facebook" color="primary" slot="end"></ion-icon>
      <ion-icon name="logo-googleplus" color="danger" slot="end"></ion-icon>
    </ion-item> -->
  </ion-card>
  <ion-card>
    <ion-item style="padding-bottom: 5px; padding-top: 15px;">
      <ion-avatar slot="start">
        <img src="assets/img/card-image-avatar.png">
      </ion-avatar>
      <ion-label>Darcélia Silva</ion-label>
    </ion-item>
    <ion-card-content>
      Dau para as amigas, graduada em Publicidade e Propaganda pela Universidade Anhembi Morumbi, trabalhando em
      projetos de implantação.
    </ion-card-content>
    <!-- <ion-item>
      <ion-icon name="logo-facebook" color="primary" slot="end"></ion-icon>
      <ion-icon name="logo-googleplus" color="danger" slot="end"></ion-icon>
    </ion-item> -->
  </ion-card>
  <ion-card>
    <ion-item style="padding-bottom: 5px; padding-top: 15px;">
      <ion-avatar slot="start">
        <img src="assets/img/card-image-avatar.png">
      </ion-avatar>
      <ion-label>Karina Cortez</ion-label>
    </ion-item>
    <ion-card-content>
      Ka para as #amigas, graduada em Administração pela Universidade Nove de Julho, trabalhando com projetos de BI.
    </ion-card-content>
    <!-- <ion-item>
      <ion-icon name="logo-facebook" color="primary" slot="end"></ion-icon>
      <ion-icon name="logo-googleplus" color="danger" slot="end"></ion-icon>
    </ion-item> -->
  </ion-card>
</ion-content>