<ion-content style="background: #f1f9fc;">

  <div class="cabecalho" margin-bottom padding text-center>
    <img src="./assets/img/logo-vemcomigo.png" alt="Vem Comigo">
  </div>

  <div padding-top>
    <p margin padding text-center>
      <ion-text color="danger">Bem-Vinda!</ion-text>
    </p>
    <div padding>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()" novalidate>
        <div class="input">
          <ion-input type="text" placeholder="Informe seu e-mail" id="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"></ion-input>
        </div>
        <ion-item *ngIf="submitted && f.email.errors">
          <ion-text color="danger" *ngIf="f.email.errors.required">Você esqueceu de informar o e-mail</ion-text>
          <ion-text color="danger" *ngIf="f.email.errors.email">Exemplo: fulano@email.com</ion-text>
        </ion-item>

        <div class="input" margin-top>
          <ion-input type="password" placeholder="Sua senha" id="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"></ion-input>
        </div>
        <ion-item *ngIf="submitted && f.password.errors">
          <ion-text color="danger" *ngIf="f.password.errors.required">Preencha sua senha</ion-text>
          <ion-text color="danger" *ngIf="f.password.errors.minlength">A senha deve ter pelo menos 6 caracteres</ion-text>
        </ion-item>

        <div class="buttons">
          <ion-button expand="block" shape="round" type="submit" margin-top>Entrar</ion-button>
          <ion-button expand="block" fill="outline" shape="round" href="/register" routerDirection="forward" margin-top>Novo
            Usuário</ion-button>
        </div>
        <ion-button color="tertiary" expand="block" fill="clear" shape="round" (click)="loginFacebook()" margin-top>
          <ion-icon slot="start" name="logo-facebook"></ion-icon>
          <!-- <img src="./assets/img/icon-fb.png" alt="Facebook"> -->
          <ion-text text-lowercase>
            Login com Facebook
          </ion-text>
        </ion-button>
      </form>
    </div>
  </div>

</ion-content>