<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="start" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Quem Somos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/card-image-avatar.png">
      </ion-avatar>
      <ion-label>Nayara</ion-label>
    </ion-item>
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
    <ion-item>
      <ion-icon name="logo-facebook" color="primary" slot="end"></ion-icon>
      <ion-icon name="logo-googleplus" color="danger" slot="end"></ion-icon>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/card-image-avatar.png">
      </ion-avatar>
      <ion-label>Beatriz</ion-label>
    </ion-item>
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
    <ion-item>
      <ion-icon name="logo-facebook" color="primary" slot="end"></ion-icon>
      <ion-icon name="logo-googleplus" color="danger" slot="end"></ion-icon>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/card-image-avatar.png">
      </ion-avatar>
      <ion-label>Daniela</ion-label>
    </ion-item>
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
    <ion-item>
      <ion-icon name="logo-facebook" color="primary" slot="end"></ion-icon>
      <ion-icon name="logo-googleplus" color="danger" slot="end"></ion-icon>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/card-image-avatar.png">
      </ion-avatar>
      <ion-label>Darcélia</ion-label>
    </ion-item>
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
    <ion-item>
      <ion-icon name="logo-facebook" color="primary" slot="end"></ion-icon>
      <ion-icon name="logo-googleplus" color="danger" slot="end"></ion-icon>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/card-image-avatar.png">
      </ion-avatar>
      <ion-label>Karina</ion-label>
    </ion-item>
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
    <ion-item>
      <ion-icon name="logo-facebook" color="primary" slot="end"></ion-icon>
      <ion-icon name="logo-googleplus" color="danger" slot="end"></ion-icon>
    </ion-item>
  </ion-card>
</ion-content>