<ion-tabs>
  <ion-tab label="Busca" icon="search" href="/home/tabs/(busca:busca)">
    <ion-router-outlet name="busca"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Perfil" icon="contact" href="/home/tabs/(perfil:perfil)">
    <ion-router-outlet name="perfil"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Quem Somos" icon="contacts" href="/home/tabs/(contact:contact)">
    <ion-router-outlet name="contact"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Ajuda" icon="help-circle" href="/home/tabs/(about:about)">
    <ion-router-outlet name="about"></ion-router-outlet>
  </ion-tab>
</ion-tabs>