<ion-tabs>
  <ion-tab label="Busca" icon="search" href="/home/tabs/(busca:busca)">
    <ion-router-outlet name="busca"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Perfil" icon="contact" href="/home/tabs/(perfil:perfil)">
    <ion-router-outlet name="perfil"></ion-router-outlet>
  </ion-tab>
  <!-- <ion-tab label="Buscas" icon="contact" href="/home/tabs/(resultado:resultado)">
    <ion-router-outlet name="resultado"></ion-router-outlet>
  </ion-tab>   -->
  <ion-tab label="Quem Somos" icon="contacts" href="/home/tabs/(quem-somos:quem-somos)">
    <ion-router-outlet name="quem-somos"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Ajuda" icon="help-circle" href="/home/tabs/(ajuda:ajuda)">
    <ion-router-outlet name="ajuda"></ion-router-outlet>
  </ion-tab>
</ion-tabs>