.invalid {
  color: red;
}

.msgInvalid {
  color: red;
  font-size: 12px;
}

.sc-ion-button-md-h, .sc-ion-button-ios-h{
  font-weight: bold!important;
}

.sc-ion-icon-h.hydrated[name="logo-facebook"] {
  color: #4b7ebd;
}

.sc-ion-icon-h.hydrated[name="logo-google"] {
  color: #fd5d51;
}

.md form .item-native.sc-ion-item-md,  .ios form .item-native.sc-ion-item-ios {
  border-width: 1px;
  border-color:  #ced9dc;
  border-style:solid;
  border-radius:20px;
  box-shadow: inset 0 0 1em white, 0 0 1em #ced9dc;
}

.button-native.sc-ion-button-m{
  box-shadow: inset 0 0 1em white, 0 0 1em #ced9dc!important;
}


.md form .ion-invalid .item-native.sc-ion-item-md, .ios form .ion-invalid .item-native.sc-ion-item-ios {
  border:none;
  
}

.cursor-pointer{
  cursor:pointer;
}


.toolbar-title.sc-ion-title.sc-ion-title-s{
  color:#ef7374!important;
}