:root {
  --ion-color-primary: #7bc3bd;
  --ion-color-primary-rgb: 123,195,189;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #6caca6;
  --ion-color-primary-tint: #88c9c4;

  --ion-color-secondary: #7bc3bd;
  --ion-color-secondary-rgb: 123,195,189;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #6caca6;
  --ion-color-secondary-tint: #88c9c4;

  --ion-color-tertiary: #3b5998;
  --ion-color-tertiary-rgb: 59,89,152;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #344e86;
  --ion-color-tertiary-tint: #4f6aa2;

  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16,220,96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255,206,0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #ef5153;
  --ion-color-danger-rgb: 239,81,83;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d24749;
  --ion-color-danger-tint: #f16264;

  --ion-color-dark: #676767;
  --ion-color-dark-rgb: 103,103,103;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #5b5b5b;
  --ion-color-dark-tint: #767676;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f6f9fa;
  --ion-color-light-rgb: 246,249,250;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d8dbdc;
  --ion-color-light-tint: #f7fafb;
}