<ion-header>
  <ion-toolbar color="primary">
    <ion-title>#Partiu achar uma amiga</ion-title>
  </ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content padding class="content">

  <!-- Div inicial com botão de buscar -->
  <div *ngIf="btnBuscar">
    <div class="imgBuscar" (click)="exibirBusca(false)">
      <img src="assets/img/buscar1.png" alt="logo buscar destinos">
    </div>
    <div class="btn-alterar-destino">
      <ion-button fill="outline" expand="block" shape="round" (click)="editar()">
        Alterar destino
      </ion-button>
    </div>
    <div class="ajuda-usuario" (click)="ajuda()">
      <ion-icon name="help-circle-outline"></ion-icon>
      <span>Preciso de ajuda</span>
    </div>
  </div>

  <!-- Div com resultado de buscas -->
  <div *ngIf="!btnBuscar">
    <ion-list *ngFor="let item of destinos; let i = index" [attr.data-index]="i" style="color: red;">
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/img/avatar-finn.png">
          <ion-label style="font-size: 15px;">Isabella Silva</ion-label>
        </ion-avatar>
        <ion-label>
          <h3>A-B DESTINO</h3>
          <p>TIJUCA</p>
          <h3>A-B DESTINO</h3>
          <p>TIJUCA</p>
          <div class="imgWhatsZapBusca">
            <img src="assets/img/icon-whatsapp.png">
          </div>
        </ion-label>
      </ion-item>
    </ion-list>

  </div>

</ion-content>