<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Ajuda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
      <ion-item>
        <!-- <ion-icon slot="end" name="help-circle"></ion-icon> -->
        <ion-label>Como usar o aplicativo ?</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Meu perfil</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Como achar uma amiga ?</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Deletar Perfil</ion-label>
      </ion-item>
    </ion-list>
    
</ion-content>
