<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Ajuda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding-top>

  <ion-list class="accordion-list">
    <ion-list *ngFor="let item of information; let i = index" no-lines no-padding>
    
      <ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
        <ion-icon item-left name="add-circle" *ngIf="!item.open"></ion-icon>
        <ion-icon item-left name="remove-circle" *ngIf="item.open"></ion-icon>
        {{ item.name }}
      </ion-item>

      <ion-list *ngIf="item.children && item.open" no-lines>
        <ion-list-header padding *ngFor="let child of item.children; let j = index" no-padding>
          <ion-item>{{ child.information }}</ion-item>
        </ion-list-header>
      </ion-list>
     
      
    </ion-list>
  </ion-list>

</ion-content>