<ion-header>
  <ion-toolbar color="primary"> <ion-title>#Ajuda</ion-title> </ion-toolbar>
</ion-header>

<ion-content>
  <!-- NEW -->
  <ion-list>
    <ion-item *ngFor="let item of information; let i = index" detail>
      <ion-label text-wrap (click)="toggleSection(i)">
        <ion-text color="dark">
          <h3 style="font-size: 17.8px;" color="dark">{{ item.name }}</h3>
        </ion-text>
        <!-- <ion-text *ngIf="item.children && item.open">
          <div *ngFor="let child of item.children; let j = index">
            <p>{{ child.information }}</p>
          </div>
        </ion-text> -->
        <ion-list *ngIf="item.children && item.open">
          <ion-list-header *ngFor="let child of item.children; let j = index">
          <ion-text>{{ child.information }}</ion-text>
          </ion-list-header>
        </ion-list>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- OLD -->
  <!-- <ion-card *ngFor="let item of information; let i = index">
    <ion-card-header>
      <ion-card-title style="font-size: 15px; font-weight: 700;" (click)="toggleSection(i)">
        {{ item.name }}
        <ion-icon class="float-right-list" style="font-size: 18px;" name="ios-arrow-dropright" *ngIf="!item.open"></ion-icon>
        <ion-icon class="float-right-list" style="font-size: 18px;" name="ios-arrow-dropdown" *ngIf="item.open"></ion-icon>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="item.children && item.open" no-lines>
        <ion-list-header padding *ngFor="let child of item.children; let j = index" no-padding>
          <ion-item>{{ child.information }}</ion-item>
        </ion-list-header>
      </ion-list>
    </ion-card-content>
  </ion-card> -->
</ion-content>
