<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Criar conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background: #f1f9fc;" padding>
  <div padding-top>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="input">
        <ion-input type="email" placeholder="Informe seu e-mail" id="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"></ion-input>
      </div>
      <ion-item *ngIf="submitted && f.email.errors">
        <ion-text color="danger" *ngIf="f.email.errors.required">Você esqueceu de informar o e-mail</ion-text>
        <ion-text color="danger" *ngIf="f.email.errors.email">Exemplo: fulano@email.com</ion-text>
      </ion-item>
  
      <div class="input" margin-top>
        <ion-input type="password" placeholder="Sua senha (min 6 caracteres)" id="password" formControlName="password"></ion-input>
      </div>
      <ion-item *ngIf="submitted && f.password.errors">
        <ion-text color="danger" *ngIf="f.password.errors.required">Preencha sua senha</ion-text>
        <ion-text color="danger" *ngIf="f.password.errors.minlength">A senha deve ter pelo menos 6 caracteres.</ion-text>
      </ion-item>
  
      <div class="input" margin-top>
        <ion-input type="password" placeholder="Confirme a senha" formControlName="passwordConfirmation"></ion-input>
      </div>
  
      <!-- <div class="form-error">{{signupError}}</div> -->
      <div class="buttons">
        <ion-button type="submit" expand="block" shape="round">
          <!-- [disabled]="!registerForm.valid" -->
          Pronto!
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>